* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    background: hsl(0, 0%, 95%);
}

nav {
    text-align: right;
    padding: 10px 10px;
}

nav a {
    text-decoration: none;
    margin: 0.25em;
}

main {
    display: flex;
    place-items: center;
    min-height: 100vh;
}

main div {
    padding: 2em;
    text-align: center;
}

.page-container-grid {
    background-color: darkblue;
    display: grid;
    gap: 10px;
    width: 50%;
    /* width: 910px;
height: 554px; */
    margin: auto;
    grid-template-areas: 
    'a a b'
    'c d d'
    'c e e'
    ;
}

.item-a {
    background-color: orangered;
    grid-area: a;
}

.item-b {
    background-color: orange;
    grid-area: b;
}

.item-c {
    background-color: green;
    grid-area: c;
}

.item-d {
    background-color: lightblue;
    grid-area: d;
}

.item-e {
    background-color: lightblue;
    grid-area: e;
}

